*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body {font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 100%;	color: #030d18;}
a {color: #f5484a; text-decoration: none;}
img {max-width: 100%;}
h1, h2 {font-weight: 300; text-align: center;}
h3 {font-size: 18px; margin:.8rem 0 .8rem; font-weight: 400;}


.img-round { border-radius: 50%; }
.text-center { text-align: center; }


/* Prof, Experts */


.prof .col-5,
.experts .col-3 {text-align: center;}
.experts .col-3 img {padding: 3rem;}

@media handheld, only screen and (max-width:480px) {
	.experts .col-3 {font-size: .8em;}
	.experts .col-3 img {padding: .5rem;}
}


/* 	Places */

.place h2 { font-size: 2rem; margin-bottom: 1.4rem; }
.place p { margin-bottom: 1rem; }

/* Modules - reusable parts of our design */

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}
.cd-container:after {
  content: "";
  display: table;
  clear: both;
}

.has-top-margin {
  /* this class is given - using jQuery - to the .cd-main-content following the .cd-secondary-nav when it becomes fixed */
}
@media only screen and (min-width: 1170px) {
  .has-top-margin {
    -webkit-animation: animate-margin-top 0.3s;
    -moz-animation: animate-margin-top 0.3s;
    animation: animate-margin-top 0.3s;
    margin-top: 70px;
  }
}

@-webkit-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@-moz-keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
@keyframes animate-margin-top {
  0% {
    margin-top: 100px;
  }

  100% {
    margin-top: 70px;
  }
}
/*  Navigation  */
.cd-header {position: absolute; top: 0; left: 0;  width: 100%;  z-index: 3;}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
    background-color: transparent;
    box-shadow: none;
  }
}

#cd-logo {text-align: center;}
#cd-logo.slide-in svg {height: 70px;}
#cd-logo.slide-in svg path,
#cd-logo.slide-in svg rect {fill:black;}


@media only screen and (min-width: 1170px) {
  #cd-logo.is-hidden {
    /* assign a position fixed and move outside the viewport (on the left) */
    opacity: 0;
    position: fixed;
    left: -20%;
    margin-left: 0;
    -webkit-transition: left 0.3s, opacity 0.3s;
    -moz-transition: left 0.3s, opacity 0.3s;
    transition: left 0.3s, opacity 0.3s;
  }
  #cd-logo.is-hidden.slide-in {
    /* slide in when the secondary navigation gets fixed */
    left: 5%;
    opacity: 1;
  }
}


/*  Intro  */

#cd-intro {position: relative; height: 520px; z-index: 2;}
#cd-intro .video {height: 520px; background: rgba(0,0,0,.5);}
#cd-intro #cd-intro-tagline {width: 90%;  max-width: 1170px;  margin: 0 auto;  text-align: center;  padding-top: 250px;}
#cd-intro h1 {font-size: 24px; font-size: 1.5rem; font-weight: 300; color: #FFF;}
#cd-intro h2 {color: #FFF; font-weight: 300; margin-top: 10px;}
#cd-intro h3 {color: #FFF; font-weight: 200; margin-top: 20px;}

@media only screen and (min-width: 768px) {
  #cd-intro {
    height: 520px;
  }
  #cd-intro #cd-intro-tagline {
    padding-top: 250px;
  }
  #cd-intro h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1170px) {
  #cd-intro {
    height: 520px;
  }
  #cd-intro #cd-intro-tagline {
    padding-top: 250px;
  }
}

.cd-btn {
  display: inline-block;
  padding: 1em 1.8em;
  background-color: rgba(200, 70, 30, .8);
  margin-top: 1em;
  border-radius: 20em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

.middle-btn {
    display: inline-block;
    padding: 1em 1.8em;
    background-color: rgba(200, 70, 30, .8);
    margin-top: 1em;
    border-radius: 20em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
}

.no-touch .cd-btn:hover {
  background-color: rgba(200, 70, 30, 1);
}
@media only screen and (min-width: 1170px) {
  .cd-btn.is-hidden {
    /* assign a position fixed and move outside the viewport (on the right) */
    opacity: 0;
    position: fixed;
    right: -20%;
    top: 0;
    padding: .8em 1.2em;
    margin: 14px 0 0;
    -webkit-transition: right 0.3s, opacity 0.3s;
    -moz-transition: right 0.3s, opacity 0.3s;
    transition: right 0.3s, opacity 0.3s;
  }
  .cd-btn.is-hidden.slide-in {
    /* slide in when the secondary nav gets fixed */
    right: 5%;
    opacity: 1;
  }
}

/*  Fixed Navigation  */

.cd-secondary-nav {
  position: relative;
  z-index: 3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-secondary-nav ul {
  /* mobile first - secondary navigation hidden by default, triggered by tap/click on .cd-secondary-nav-trigger*/
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  border-radius: 0.25em;
  background: rgba(0, 0, 0, 0.96);
  visibility: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
  transition: transform 0.3s, visibility 0s 0.3s;
}
.cd-secondary-nav ul.is-visible {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.3s, visibility 0s 0s;
  transition: transform 0.3s, visibility 0s 0s;
}
.cd-secondary-nav li a {
  display: block;
  padding: 1.6em;
  border-bottom: 1px solid #333;
  color: #f0eee1;
}
.cd-secondary-nav li:last-child a {
  border-bottom: none;
}
@media only screen and (min-width: 1170px) {
  .cd-secondary-nav {
    z-index: 1;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.96);
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
  }
  .cd-secondary-nav nav, .cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
    height: 100%;
  }
  .cd-secondary-nav ul {
    /* reset navigation values */
    position: static;
    width: auto;
    max-width: 100%;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    text-align: center;
    background-color: transparent;
  }
  .cd-secondary-nav li {
    display: inline-block;
    margin-left: -4px;
  }
  .cd-secondary-nav li a {
    position: relative;
    text-align: center;
    display: block;
    border-bottom: none;
    -webkit-transition: padding 0.2s;
    -moz-transition: padding 0.2s;
    transition: padding 0.2s;
  }
  .cd-secondary-nav li a b {
    text-transform: uppercase;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
  }
 .cd-secondary-nav li a:hover b, .cd-secondary-nav li a.active b {
    color: rgba(200, 70, 30, .8);
  }
  
  .cd-secondary-nav.is-fixed {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    position: fixed;
    left: 0;
    top: 0;
    height: 70px;
    width: 100%;
  }
  .cd-secondary-nav.animate-children {
    /* on Firefox CSS transition/animation fails when parent element changes position attribute*/
    /* so we defined to diffent classes: .is-fixed to change the position value and .is-animated to change childrens' attributes (padding and opacity)*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
  .cd-secondary-nav.animate-children li a {
    padding: 26px 30px 0 30px;
  }
}

.cd-secondary-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  background: #000;
  border:1px #FFF solid;
  border-radius: 0.25em;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}
.cd-secondary-nav-trigger span {
  /* the span element is used to create the menu icon */
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}
.cd-secondary-nav-trigger span::before, .cd-secondary-nav-trigger span::after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cd-secondary-nav-trigger span::before {
  right: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-secondary-nav-trigger span::after {
  left: -10px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.cd-secondary-nav-trigger.menu-is-open {
  background: transparent;
}
.cd-secondary-nav-trigger.menu-is-open span {
  background: rgba(240, 238, 225, 0);
  width: 20px;
  height: 2px;
}
.cd-secondary-nav-trigger.menu-is-open span::before, .cd-secondary-nav-trigger.menu-is-open span::after {
  background: #FFF;
  width: 100%;
  height: 100%;
  border-radius: 0;
  top: 0;
  left: 0;
}
.cd-secondary-nav-trigger.menu-is-open span::before {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.cd-secondary-nav-trigger.menu-is-open span::after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 1170px) {
  .cd-secondary-nav-trigger {
    display: none;
  }
}

/*  Placeholder Sections  */
.cd-section {margin: 0 auto; padding: 2em 0;}
.cd-section h2 {font-size: 20px; font-size: 1.25rem; margin-bottom: 1rem;}
.cd-section p {line-height: 1.6;}

@media only screen and (min-width: 1170px) {
  .cd-section {margin: 0 auto; padding: 4em 0;}
  .cd-section h2 {font-size: 30px; font-size: 1.875rem;}
  .cd-section p {font-size: 20px; font-size: 1.1rem;
  }
  .right {text-align: right}

    .price {
        margin-right: 35%;
        text-align: right;
    }
}

.place .photo {background: url(/images/place_photo.jpg) center center; height: 350px; background-size: cover; position: relative;}
.place .photo .description {background: rgba(200, 70, 30, .8); text-align: center; height: 100%; padding: 15% 15% 0; font-size: 1.4rem; color: #FFF;}

/* 	Ð¡ountdown  */

.countdown h2 {font-size: 2rem; margin-bottom: 2rem;}
.countdown-container {position: relative; background: url(/images/photo_counter.jpg) center center; background-size: cover;}
.countdown-counter {background: rgba(200, 70, 30, .8); padding: 50px 0; color: #FFF;}
.clock-item .inner {height: 0px; padding:3% 3% 100% 3%; position: relative; width: 100%;}
.clock-canvas {background-color: rgba(200, 200, 200, .1); border-radius: 50%; height: 0px; padding-bottom: 100%;}
.text {color: #fff; font-size: 30px; font-weight: bold; margin-top: -50px; position: absolute; top: 50%; text-align: center; width: 100%; font-weight: 300;}
.text .val {font-size: 70px; font-weight: 300;}
.text .type-time {font-size: 20px;}

@media only screen and (max-width: 1024px) {
	.col-4 { width: 25%!important; }
}
 @media (min-width: 768px) and (max-width: 991px) {
.clock-item {margin-bottom: 30px;}
}
@media only screen and (max-width: 768px) {
	.text .val { font-size: 20px!important; margin-top: 2rem; }
	.text .type-time { font-size: 14px!important; }
	.clock-item {margin: 0px 30px 30px 30px;}

}

.numbers {
    padding-top: 12px;
}
.number {
    margin-top: 10px;
    float: right;
    border: 1px solid #919191;
    background-color: #bababa;
    padding: 10px;
    font-weight: 500;
}

.remains {
    margin-top: 20px;
    float: right;
    font-weight: 500;
    margin-right: 10px;
    font-size: 120%;
}

strong {
    font-weight: bolder;
}

.know-how-list li {
    margin-bottom: 10px;
    list-style: disc;
}

.reason {
    min-height: 100px;
}

.prof h3 {
    text-align: center;
}

.remodal h2 {
    font-weight: bolder;
    font-size: 150%;
    text-align: center;
    margin-bottom: 30px;
}

.remodal p {
    text-align: left;
}

.contact-form label {
    display: block;
    font-weight: 300;
}

.contact-form input {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    border: 1px solid grey;
}

.emailOk {
    background: #0d8051;
    border-radius: 20px;
    color: white;
    padding: 20px;
}

.emailError {
    margin-top: 20px;
    background: #ffa5b9;
    border-radius: 20px;
    color: white;
    padding: 20px;
}

.hide {
    display: none;
}

.help {
    margin-top: 5px;
    color: red;
}

.company-social {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
}

.company-social {
    text-align: left;
}

.company-social li {
    display: inline-block;
    margin: 0 !important;
    padding: 0;
}

.company-social a {
    margin: 0;
    padding: 0;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #3bbec0;
    color: #fff;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.company-social a i {
    text-align: center;
    margin: 0;
    padding: 0;
}

.company-social .social-vk a {
    background: #3873ae;
}


.company-social .social-facebook a {
    background: #3873ae;
}

.company-social .social-twitter a {
    background: #62c6f8;
}

.company-social .social-dribble a {
    background: #d74980;
}

.company-social .social-deviantart a {
    background: #8da356;
}

.company-social .social-google a {
    background: #000;
}

.company-social .social-vimeo a {
    background: #51a6d3;
}

.company-social .social-facebook a:hover {
    background: #4893ce;
}

.company-social .social-twitter a:hover {
    background: #82e6ff;
}

.company-social .social-dribble a:hover {
    background: #f769a0;
}

.company-social .social-deviantart a:hover {
    background: #adc376;
}

.company-social .social-google a:hover {
    background: #333;
}

.company-social .social-vimeo a:hover {
    background: #71c6f3;
}